@use "/assets/scss/constants.scss" as g;

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

@media screen and (max-width: 992px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}