@use "/assets/scss/constants.scss" as g;

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.headline {
    z-index: 1;
}

@media screen and (max-width: 992px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.overlayTrigger {
    transform: translateY(-25%);
}

.overlayQRWrapper {
    display: grid;
    gap: g.$margin-base;
    justify-items: center;

    color: g.$text-secondary;

    padding: g.$margin-base;
    border: g.$border-base solid g.$main-secondary;
    border-radius: g.$border-radius-base;
}

.overlayTitle{
    justify-self: center;
}

.overlayContent {
    display: flex;
    gap: g.$margin-base;
}