@use "../../assets/scss/constants.scss" as g;

.container {
  display: inline-flex;
  gap: calc(g.$margin-small / 2);
  align-items: center;

  min-height: g.$icon-sm;

  color: g.$container-item;
  font-size: g.$text-small;

  background-color: g.$accent1;
  border-radius: g.$border-radius-small;
  padding: calc(g.$margin-small / 2) g.$margin-small ;

  svg {
    width: g.$icon-small;
    height: g.$icon-small;
    fill: g.$container-item;
  }

  &.muted {
    background-color: g.$text-secondary;
  }
}

.primary {
  background-color: g.$main-primary;
}

.outlined {
  border: g.$border-base solid g.$accent1;
}

.outlined,
.text {
  background-color: transparent;
  color: g.$accent1;

  svg {
    fill: g.$accent1;
  }

  &.muted {
    background-color: transparent;
    color: g.$text-secondary;
    svg {
      fill: g.$text-secondary;
    }
  }
}