@use "/assets/scss/constants.scss" as g;

.cafeteriaplan {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-attachment: local;
  gap: g.$margin-small;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
  display: none;
}
}
