@use "/assets/scss/constants.scss" as g;

.container {
  padding: g.$margin-sm;
  background: g.$container-item;
  border-radius: g.$border-radius-base;
  display: flex;
  flex-direction: row;
  box-shadow: g.$shadow-outer;
  justify-content: space-between;
  align-items: center;

  box-sizing: content-box;
}

.dishInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .prices {
    font-size: g.$text-small;
    font-weight: 300;
    color: g.$text-secondary;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  justify-content: flex-end;
  gap: g.$margin-small;

  img {
    width: g.$icon-base;
    height: g.$icon-base;
  }
}
