@use "../../assets/scss/constants.scss" as g;

$headerHeight: 2rem;

.container {
  min-height: 0;
  min-width: 0;

  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: $headerHeight 1fr;
  grid-template-columns: 1fr;

  border-radius: g.$border-radius-base;
  background-color: g.$container;
  box-shadow: g.$shadow-outer__light;

  overflow: hidden;

  //backdrop-filter: blur(20px); -> Breaks radix-ui;

  &.large {
    grid-area: 1 / 1 / 3 / 2;
  }

  &.middle {
    grid-area: 3 / 1 / 4 / 2;
  }

  &.smallTop {
    grid-area: 1 / 2 / 2 / 3;
  }

  &.smallMiddle {
    grid-area: 2 / 2 / 3 / 3;
  }

  &.smallBottom {
    grid-area: 3 / 2 / 4 / 3;
  }
}

.content {
  min-width: 0;
  min-height: 0;

  height: 100%;
  width: 100%;

  grid-area: 2 / 1 / 3 / 2;
}

.headline {
  min-width: 0;
  min-height: 0;

  height: 100%;
  width: 100%;

  grid-area: 1 / 1 / 2 / 4;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;
  gap: g.$margin-small;

  padding-inline: g.$margin-base;
  padding-block-start: g.$margin-base;

  >* {
    align-items: center;
    align-self: center;
    min-height: 0;
    height: .5rem;
  }

  .title {
    font-size: g.$text-sm;
    font-weight: 500;

    height: fit-content;

    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
  }

  .middle {
    grid-area: 1 / 2 / 2 / 3;
  }

  .end {
    grid-area: 1 / 3 / 2 / 4;
  }
}

@media screen and (max-width: 992px) {
  .container {
    &.large {
      grid-area: 1 / 1 / 2 / 2;
    }

    &.middle {
      grid-area: 2 / 1 / 3 / 2;
    }

    &.smallTop {
      grid-area: 3 / 1 / 4 / 2;
    }

    &.smallMiddle {
      grid-area: 4 / 1 / 5 / 2;
    }

    &.smallBottom {
      grid-area: 5 / 1 / 6 / 2;
    }
  }
}