@use "/assets/scss/constants.scss" as g;

.headlineWrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  margin-block: 0.2rem;
  margin-inline: 0.3rem;

  .side {
    display: flex;
    flex-direction: row;
    gap: g.$margin-base;

    width: calc(g.$icon-xm * 5);
  }

  .logo {
    height: g.$icon-xm;

    img {
      object-fit: contain;
      width: calc(g.$icon-xm * 2);
    }
  }

  .right {
    justify-content: flex-end;

    .flagButton {
      height: g.$icon-base;
    }

    img {
      object-fit: contain;
      width: fit-content;

      filter: opacity(0.9);
    }
  }

  // Styling for the centered headline text
  .title {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-weight: bold;
      font-size: g.$text-medium; //smaller
      margin: 0;
    }
  }
}
