@use "/assets/scss/constants.scss" as g;

.headlineWrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  margin-block-start: 0.2rem;
  margin-block-end: 0.2rem;
}

.logo {
  width: calc(g.$icon-xm *2);
  height: g.$icon-xm;
  img {
    object-fit: contain;
  }
  .wwu {
    margin-inline-start: 0.3rem;
  }
}

// Styling for the centered headline text
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: bold;
    font-size: g.$text-medium; //smaller
    margin: 0
  }
}