<!DOCTYPE html>
<html>
  <head>
    <style>
              table {
                  width: 100%;
              }

          .left, .center {
              text-align: left;
          }


          .right {
              text-align: right;
          }
      }
    </style>
  </head>

  <body>
    <table>
      <tr>
        <td class="left">
          <img
            src="C:\Users\kevin\OneDrive\Dokumente\Studium\6_Semester\Projektseminar\Git_Projekte\ps-housetech-frontend\assets\images\wwu.svg"
            alt="WWU Logo"
          />
        </td>
        <td class="center">Department of Information Systems</td>
        <td class="right">
          <img
            src="C:\Users\kevin\OneDrive\Dokumente\Studium\6_Semester\Projektseminar\Git_Projekte\ps-housetech-frontend\assets\images\ercis.svg"
            alt="ERCIS Logo"
          />
        </td>
      </tr>
    </table>
  </body>
</html>
