@use "/assets/scss/constants.scss" as g;

.busplan {
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: g.$margin-small;

  margin: 0;
  padding: 0;
}
