@use "/assets/scss/constants.scss" as g;

.busplan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: g.$margin-small;

  list-style: none;
  padding: g.$margin-base;
  margin: 0;
}

.infoButton {
  border: none;
  align-self: center;

  height: g.$icon-small;
  width: g.$icon-small;

  transform: translateY(- g.$icon-small / 4);

  fill: g.$main-primary;
}

.busMap {
  height: 50vh;
  max-height: auto;
  
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.overlayContainer {
  width: auto;
  height: auto;

  display: grid;
  gap: g.$margin-base;
}

.overlayTitle {
  margin: 0;
  font-size: g.$text-large;
  width: fit-content;
  height: fit-content;
}

.subTitle {
  display: flex;
  align-items: center;

  font-size: g.$text-sm;
  color: g.$text-secondary;
}