// TYPOGRAPHY
$text-large: 47px;
$text-medium: 29px;
$text-base: 18px;
$text-small: 12px;

// COLORS
$text-primary: #15171B;
$text-secondary: #494E58;
$main-primary: #435C8B;
$main-secondary: #A5CF39;
$background: #F0F0F0;
$container: #F8F8F8;
$container-item: #FAFAFA;
$accent1: #7C2D3A;
$accent2: #DDDD2B;
$accent3: #3FB6B5;
$accent4: #319143;

// GAP
$margin-large: 24px;
$margin-medium: 18px;
$margin-base: 12px;
$margin-small: 6px;

// IMAGES
$icon-large: 80px;
$icon-base: 40px;
$icon-small: 20px;

// SIZING
$border-base: 2px;
$border-radius-base: 12px;

// SHADOWS
$shadow-outer: 0px 6px 12px -2px rgba(50, 50, 93, 0.25),
0px 3px 7px -3px rgba(0, 0, 0, 0.3);
$shadow-inner: inset -4px 0px 6px 2px rgba(0, 0, 0, 0.30);
