// TYPOGRAPHY
$text-large: 2.62rem;
$text-medium: 1.618rem;
$text-base: 1rem;
$text-small: 0.7rem;

// COLORS
$text-primary: #15171b;
$text-secondary: #95989d;
$main-primary: #435c8b;
$main-primary-tint: #dde5f2;
$main-secondary: #a5cf39;
$background: #f0f0f0;
$container: #f8f8f8;
$container-item: #fafafa;
$accent1: #7c2d3a;
$accent2: #dddd2b;
$accent3: #3fb6b5;
$accent4: #319143;
$warning: #d71a39;
$success: #a5cf39;

// GAP
$margin-large: 1.8rem;
$margin-medium: 1.4rem;
$margin-base: 0.8rem;
$margin-sm: 0.7rem;
$margin-small: 0.4rem;

// IMAGES
$icon-large: 4.44rem;
$icon-xm: 3.33rem;
$icon-base: 2.22rem;
$icon-sm: 1.8rem;
$icon-small: 1.11rem;

// SIZING
$border-base: 2px;
$border-radius-base: 12px;

// SHADOWS
$shadow-outer: 0px 6px 12px -2px rgba(50, 50, 93, 0.25),
  0px 3px 7px -3px rgba(0, 0, 0, 0.3);
$shadow-outer-harder: 0px 6px 12px -2px rgba(50, 50, 93, 0.3),
  0px 3px 7px -3px rgba(0, 0, 0, 0.35);
$shadow-outer__right: 0.2rem 0 8px $text-secondary;

$shadow-inner: inset -4px 0px 6px 2px rgba(0, 0, 0, 0.3);
$shadow-inner-light: inset -2px 0px 3px 4px rgba(0, 0, 0, 0.2);

$shadow-svg: drop-shadow(2px 2px 4px rgba(50, 50, 93, 0.2)) drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));