@use "/assets/scss/constants.scss" as g;

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
}

.background {
    border-radius: g.$border-radius-base;
    background-color: g.$container-item;
}

.searchSection {
    display: flex;
    flex-direction: column;
    width: 100%;

    .searchField {
        width: 100%;
        height: fit-content;
        padding-inline: g.$margin-small;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: g.$margin-small;


        border: 2px solid g.$main-primary;

        &:focus-within{
            background-color: g.$main-primary-tint;
        }
    }
    
    .icon {
        width: g.$icon-base;
        height: g.$icon-base;
    }
    
    .input {
        flex-grow: 1;
        height: 100%;
        
        
        background-color: transparent;
        
        border: none;
        
        color: g.$text-primary;
        font-size: g.$text-base;
        
        &:focus{
            outline: none;
            animation: 0.5s 1 forwards grow;
        }
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;

        overflow-y: scroll;
    }
}

.person {
    display: flex;
    flex-direction: column;

    padding: g.$margin-small;

    list-style-type: none;

    .caption {
        color: g.$text-secondary;
        font-size: g.$text-small;
    }
}

@keyframes grow{
    40% {
        transform: scale(1.05);
    }
}