@use "/assets/scss/constants.scss" as g;

.container {
    display: grid;
    grid-template-columns: min(30%, 500px) 1fr;
    grid-template-rows: 1fr;

    height: 100%;
    max-height: 100%;
}

.background {
    border-radius: g.$border-radius-base;
    background: g.$container-item;
}

.searchSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 0px;


    .searchField {
        width: auto;
        height: fit-content;
        padding-inline: g.$margin-small;

        margin-block-start: g.$margin-base;
        margin-inline: g.$margin-base;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: g.$margin-small;


        border: 2px solid g.$main-primary;

        &:focus-within{
            background-color: g.$main-primary-tint;
        }
    }
    
    .icon {
        width: g.$icon-base;
        height: g.$icon-base;
    }
    
    .input {
        flex-grow: 1;
        height: 100%;
        
        
        background-color: transparent;
        
        border: none;
        
        color: g.$text-primary;
        font-size: g.$text-base;
        
        &:focus{
            outline: none;
            animation: 0.5s 1 forwards grow;
        }
    }

    ol {
        list-style: none;
        margin: 0;
        padding-inline: g.$margin-base;
        padding-block-end: g.$margin-base;

        min-height: 0px;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            display: none;
        }
    }
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-block-start: g.$margin-small;
    padding: g.$margin-small;

    list-style-type: none;
    box-shadow: g.$shadow-outer;

    border-radius: g.$border-radius-base;

    height: 4rem;

    .caption {
        color: g.$text-secondary;
        font-size: g.$text-small;
    }
}

@keyframes grow{
    40% {
        transform: scale(1.05);
    }
}