@use "../../../../assets/scss/constants.scss" as g;

.container {
  display: flex;
  flex-direction: row;

  height: 80vh;
  width: 62vw;
  max-height: 58vh;
  gap: g.$margin-small;

  padding: g.$margin-base;

  &:has(img) {
    height: auto;
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 0;
    width: auto;
    max-width: 100%;

    min-height: 0;
    height: auto;
    max-height: 100%;

    > * {
      box-shadow: g.$shadow-outer__light;
      border-radius: g.$border-radius-small;
      overflow: hidden;
    }

    img {
      min-width: 0;
      width: auto;
      max-width: 100%;

      min-height: 0;
      height: fit-content;
      max-height: 100%;

      object-fit: contain;
      box-shadow: g.$shadow-outer__light;
      border-radius: g.$border-radius-small;
    }
  }

  .close {
    height: 2.4rem;
    padding: 1rem;
    width: 100%;
    border-radius: 0.37rem;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    color: g.$text-primary;
  }

  .closeDiv {
    width: 100%;
    height: fit-content;
  }

  .timestamp {
    padding-block: g.$margin-small / 2;
    padding-inline: g.$margin-small;

    display: flex;
    align-items: center;
    gap: g.$margin-small;

    margin-top: 1rem;

    width: 100%;

    color: white;
    fill: white;
    background-color: g.$accent1;

    border: g.$border-base solid g.$accent1;
    border-radius: g.$border-radius-small;

    .clockIcon {
      height: g.$icon-sm;
      width: g.$icon-sm;
    }
  }

  .caption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-inline: g.$margin-base;

    border-left: solid 1px g.$main-primary;

    margin-left: g.$margin-base;

    p {
      padding: 10px;
      margin: 0;

      line-height: 1.6;
      text-align: justify;

      overflow-y: auto;

      height: 100%;

      -webkit-mask-image: linear-gradient(to bottom, black 93%, transparent 100%);
      mask-image: linear-gradient(to bottom, black 93%, transparent 100%);
    }
  }
}
