@use "../../../../assets/scss/constants.scss" as g;

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;

  height: 80vh;
  width: 62vw;

  padding: g.$margin-base;
  gap: g.$margin-small;

  &:has(img) {
    height: auto;
  }

  .imageContainer {
    grid-area: 1 / 1 / 2 / 2;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 0;
    width: auto;
    max-width: 100%;

    min-height: 0;
    height: auto;
    max-height: 100%;

    &:has(div) {
      aspect-ratio: 9 / 16;
    }

    > * {
      box-shadow: g.$shadow-outer__light;
      border-radius: g.$border-radius-small;
      overflow: hidden;
    }

    img {
      min-width: 0;
      width: auto;
      max-width: 100%;

      min-height: 0;
      height: fit-content;
      max-height: 100%;

      object-fit: contain;
      box-shadow: g.$shadow-outer__light;
      border-radius: g.$border-radius-small;
    }
  }

  .timestamp {
    grid-area: 2 / 1 / 3 / 2;

    padding-block: g.$margin-small / 2;
    padding-inline: g.$margin-small;

    display: flex;
    align-items: center;
    gap: g.$margin-small;

    color: white;
    fill: white;
    background-color: g.$accent1;

    border: g.$border-base solid g.$accent1;
    border-radius: g.$border-radius-small;

    .clockIcon {
      height: g.$icon-sm;
      width: g.$icon-sm;
    }
  }

  .caption {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    width: 100%;
    height: 100%;
    padding-inline: g.$margin-large;

    justify-content: flex-start;
    align-items: flex-start;

    overflow-y: auto;

    border-left: solid 1px g.$container-item-no-shadow;

    p {
      padding: 10px;
      margin: 0;

      line-height: 1.6;
      text-align: justify;
    }
  }
}
